.carousel {
  margin-top: 20px;
  color: white;
}

.featured-carousel {
  margin-bottom: 40px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin-left: -5px;
  margin-right: -5px;
}

.carousel-slide {
  flex: 0 0 calc(100% / 8); /* Mostrar 8 películas */
  box-sizing: border-box;
  margin: 0 5px;
}

.featured-slide {
  flex: 0 0 calc(100% / 5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.image-container {
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.carousel-slide img:hover {
  transform: scale(1.05);
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image-container:hover .movie-overlay {
  opacity: 1;
}

.movie-link {
  text-decoration: none;
  color: white;
}

.movie-link p {
  margin: 0;
}

.movie-link:visited {
  color: white;
}

.movie-link:hover p {
  color: white;
}

.movie-description {
  margin-top: 10px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd700;
  border: none;
  color: black;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 10;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.nav.prev {
  left: 10px;
}

.nav.next {
  right: 10px;
}

.nav::before {
  content: '‹';
}

.nav.next::before {
  content: '›';
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin-left: -5px;
  margin-right: -5px;
}

.carousel-slide {
  box-sizing: border-box;
  margin: 0 5px;
}

.carousel-slide {
  flex: 0 0 calc((100% / 8) - 10px); 
}

@media (max-width: 1199px) {
  .carousel-slide {
    flex: 0 0 calc((100% / 6) - 10px);
  }
}

@media (max-width: 991px) {
  .carousel-slide {
    flex: 0 0 calc((100% / 4) - 10px);
  }
}

@media (max-width: 767px) {
  .carousel-slide {
    flex: 0 0 calc((100% / 3) - 10px);
  }
}

@media (max-width: 575px) {
  .carousel-slide {
    flex: 0 0 calc((100% / 2) - 10px);
  }
}

.featured-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.featured-slide {
  flex: 0 0 calc((100% / 5) - 20px); 
}

@media (max-width: 1199px) {
  .featured-slide {
    flex: 0 0 calc((100% / 4) - 20px);
  }
}

@media (max-width: 991px) {
  .featured-slide {
    flex: 0 0 calc((100% / 3) - 20px);
  }
}

@media (max-width: 767px) {
  .featured-slide {
    flex: 0 0 calc((100% / 2) - 20px);
  }
}

@media (max-width: 575px) {
  .featured-slide {
    flex: 0 0 calc(100% - 20px);
  }
}
