.carousel {
  margin-top: 20px;
  color: white;
}

.featured-carousel {
  margin-bottom: 40px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 90%; /* Ajustar el ancho del carrusel para separarlo de los lados de la pantalla */
  margin: 0 auto; /* Centrar el carrusel */
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin-left: -5px; /* Ajustar el margen izquierdo */
  margin-right: -5px
}

.carousel-slide {
  flex: 0 0 calc(100% / 10); /* Ajustado según slidesToShow */
  box-sizing: border-box;
  margin: 0 5px; /* Ajustar espacio entre diapositivas */
}

.featured-slide {
  flex: 0 0 calc(100% / 5); /* Mostrar 5 diapositivas a la vez */
  display: flex;
  align-items: center;
  justify-content: center; /* Alinear al centro */
  margin: 0 10px; /* Ajustar margen */
}

.carousel-slide img {
  width: 100%; /* Asegurar que las imágenes ocupen todo el ancho del contenedor */
  height: auto; /* Mantener la proporción de las imágenes */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 10px; /* Bordes redondeados para las imágenes */
}

.featured-slide img {
  width: 100%; /* Ajustar el tamaño de la imagen para la película destacada */
  border-radius: 15px; /* Bordes más redondeados */
}

.carousel-slide img:hover {
  transform: scale(1.05);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 150px; /* Ajustar el tamaño del tooltip */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%; /* Posición encima de la imagen */
  left: 50%;
  margin-left: -75px; /* Centrar el tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.movie-link {
  text-decoration: none;
  color: white;
}

.movie-link p {
  margin: 0;
}

.movie-link:visited {
  color: white;
}

.movie-link:hover p {
  color: white;
}

.movie-description {
  margin-top: 10px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FFD700; /* Cambiar el fondo a un tono dorado */
  border: none;
  color: black; /* Cambiar el color del texto a negro */
  font-size: 1.2em; /* Ajustar el tamaño de la fuente */
  cursor: pointer;
  z-index: 10;
  padding: 5px; /* Reducir el espacio alrededor del botón */
  border-radius: 50%; /* Hacer las flechas redondas */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Ajustar el tamaño del botón */
  height: 30px; /* Ajustar el tamaño del botón */
}

.nav.prev {
  left: 10px; /* Separar del borde del carrusel */
}

.nav.next {
  right: 10px; /* Separar del borde del carrusel */
}

.nav::before {
  content: '‹'; /* Contenido de la flecha izquierda */
}

.nav.next::before {
  content: '›'; /* Contenido de la flecha derecha */
}

/* Estilos de la tarjeta giratoria */
.flip-card {
  background-color: transparent;
  width: 200px; /* Mantener el tamaño de la tarjeta */
  height: 300px;
  perspective: 1000px;
  margin-right: px; /* Reducir el espacio entre tarjetas */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px; /* Bordes más redondeados para las tarjetas */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px; /* Bordes más redondeados para las tarjetas */
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.flip-card-back h4 {
  margin-top: 0;
}

.flip-card-back p {
  font-size: 14px;
  line-height: 1.5;
}
