.movies {
  margin-top: 80px; /* Ajusta este valor si el navbar es más alto */
  color: white;
}

.genre-select {
  margin-bottom: 20px;
}

.genre-select label {
  margin-right: 10px;
  color: white;
}

.genre-select select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

.genre-select select option {
  background-color: #333;
  color: white;
}

.movie {
  display: inline-block;
  margin: 10px;
  text-align: center;
  position: relative;
}

.movie-card {
  position: relative;
}

.movie img {
  width: 200px;
  height: 300px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 5%;
}

.movie img:hover {
  transform: scale(1.05);
}

.movie-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.movie-card:hover .movie-title {
  opacity: 1;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

.pagination button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.pagination span.active-page {
  background-color: #555;
}

h1 {
  color: white;
}